python/
scripts/
docker/logs/
docker/plugins/
docker/kafka-comandos.sh
docker/.env
docker/dags/.env
docker_old
.env
venv/
imports.txt
lambda_layers/
etl_lambda.zip
lambda_layers/
*.zip
__pycache__/
*.pyc

run_etl.py
docker/dags/pipelines/backups

upgrades.md

old_pipeline/

scripts_s3_functions/

# Python package metadata
*.egg-info/
