python/
docker/logs/
docker/plugins/
docker/kafka-comandos.sh
docker/.env
docker/dags/.env
docker_old
.env
venv/
imports.txt
lambda_layers/
etl_lambda.zip
lambda_layers/
*.zip
__pycache__/
*.pyc
run_etl.py
